useDynLib(IFC, .registration = TRUE)
export("readIFC")
export("writeIFC")
export("ExtractFromFCS")
export("readFCS")
export("ExportToFCS")
export("ExtractFromDAF")
export("ExportToDAF")
export("data_to_DAF")
export("ExtractFromXIF")
export("ExportToXIF")
export("ExportToBATCH")
export("ExportToReport")
export("BatchReport")
export("ExportToGallery")
export("ExportToNumpy")
export("DisplayGallery")
export("ExtractImages_toBase64")
export("ExtractImages_toFile")
export("ExtractImages_toMatrix")
export("ExtractMasks_toBase64")
export("ExtractMasks_toFile")
export("ExtractMasks_toMatrix")
export("objectExtract")
export("popsNetwork")
export("plotGraph")
export("paletteIFC")
export("autoplot")
export("smoothLinLog")
export("inv_smoothLinLog")
export("getInfo")
export("getOffsets")
export("getIFD")
export("getFullTag")
export("getAborted")
export("subsetOffsets")
export("checksumIFC")
export("objectDisplay")
export("objectParam")
export("popsCopy")
export("popsCompute")
export("popsGetObjectsIds")
export("popsRename")
export("data_add_features")
export("data_add_regions")
export("data_add_pops")
export("data_add_graphs")
export("data_rm_features")
export("data_rm_regions")
export("data_rm_pops")
export("data_rm_graphs")
export("buildBatch")
export("buildFeature")
export("buildGraph")
export("buildPopulation")
export("buildRegion")
import(utils)
import(lattice)
import(latticeExtra)
import(xml2)
import(DT)
import(visNetwork)
import(grid)
import(gridExtra)
importFrom(gridGraphics, grid.echo)
importFrom(Rcpp, evalCpp)
importFrom(grDevices, axisTicks, col2rgb, colorRampPalette, contourLines, devAskNewPage, dev.control, dev.cur, dev.list, dev.off, dev.size, pdf, recordPlot, rgb, rgb2hsv, xy.coords)
importFrom(graphics, .filled.contour, axis, box, contour, hist, legend, lines, mtext, par, plot, points, polygon, rasterImage, rect, strwidth, text, grconvertX, grconvertY)
importFrom(stats, density, ftable, na.omit, quantile, rnorm, update, mad, median, sd, var)
